$line-height: 1;
$border-radius: 0.3em;

//FONTS
$font-family: Roboto, "Helvetica Neue", sans-serif;
$font-size: 1em;
$font-weight: 300;

//COLORS
$primary-color: #333;
$secundary-color: #8f8f8f;
$primary-background-color: #f1f1f1;
$secundary-background-color: #c5c5c5;
$primary-border-color: #c3c3c3;
$btn-color: #ffffff;
$nav-background-color: #333333;
$nav-color:#eee;
$nav-max-height: 50px;