<div p>
  <div b></div>
  <div c>
    <app-navbar></app-navbar>
    <div class="content">
      <div class="row col-md-12">
        <h2
          style="align-self: flex-start; flex-shrink: 1; flex-direction: column"
          class="col-md-10 mr-0"
        >
          Solicitações
        </h2>
        <button
          type="button"
          class="btn btn-success mt-1 mb-3 ml-0 mr-0 col-md-2"
          style="align-self: flex-end; flex-shrink: 1"
          (click)="create()"
        >
          Adicionar
        </button>
      </div>
      <table
        class="table table-bordered table-striped text-center mobile-table"
      >
        <thead>
          <tr>
            <th>Tipo Doação</th>
            <th>Data</th>
            <th>Status</th>
            <th>Doacao</th>
            <th class="md-column">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitation of solicitations">
            <!-- <td data-th="Código" class="xs-column">{{ solicitation.id }}</td> -->
            <td data-th="CNPJ">{{ solicitation.tipo_doacao }}</td>
            <td data-th="Nome">{{ solicitation.data }}</td>
            <td data-th="Cidade">{{ solicitation.status }}</td>
            <td data-th="Cidade">{{ solicitation.doacaoId }}</td>
            <td data-th="Ações" class="sm-column">
              <button
                type="button"
                class="btn btn-info m-1"
                (click)="edit(solicitation)"
              >
                <i class="bi bi-pencil mr-1"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger m-1"
                (click)="delete(solicitation.id)"
              >
                <i class="bi bi-trash mr-1"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="solicitations.length == 0">
            <td colspan="5">Nenhum Registro Encontrado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
